/* style-hotels.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#hotels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px; /* Добавлены отступы от краев */
}

.hotel {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hotel img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.hotel-info {
    padding: 10px;
}

.hotel h2 {
    margin-top: 0;
}

.hotel p {
    margin: 0;
    line-height: 1.4;
}

.booking-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #0056b3;
}

.discount-text {
    background-color: #28a745; /* Зеленый цвет для текста о скидке */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
